body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 220px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #bbb;
}

.form-field {
    position: relative;
    margin-bottom: 32px;
}